<h1>So Coded 2015 <small>live</small></h1>
<h2>Now:</h2>
<h4><%= @now %></h4>

<h2>Up Next:</h2>
<h4><%= @next %></h4>

<h2>Venue:</h2>
<address>
  <strong>Kulturkirche Altona</strong><br>
  Bei der Johanniskirche 16<br>
  22767 Hamburg<br>
</address>

<h2>Surroundings:</h2>
<iframe src="https://www.google.com/maps/d/embed?mid=zs5v7Vb-n-20.k1gpHruA0RKI&z=15&ll=53.5597378,9.9535843" width="100%" height="480"></iframe>

<h2>Emergency:</h2>
<dl class="dl-horizontal">
  <dt>Police</dt>
  <dd><a href="tel:110">110</a></dd>
  <dt>Firefighters</dt>
  <dd><a href="tel:112">112</a></dd>
  <dt>Ole (So Coded Organizer)</dt>
  <dd><a href="tel:+4915735985040">+4915735985040</a></dd>
</dl>
<p>If there is anything we can help you with or you need help find someone in a pink staff shirt, mail us at <a href="mailto:we@socoded.com">we@socoded.com</a> or tweet us <a href="https://twitter.com/socodedconf">@socodedconf</a>.</p>

<h2>Public Transport:</h2>
<p>Take the SBahn and exit at station "Holstenstraße".</p>
<p>From central station (Hauptbahnhof):</p>
<ul>
  <li>S11 to "Blankenese"</li>
  <li>S21 to "Elbgaustraße"</li>
  <li>S31 to "Altona"</li>
</ul>
<p>Trains runs every couple of minutes. The last train runs at 12:36am on Thursday. Friday nights trains don't stop running.</p>
<p>Tickets from central station to Holstenstraße are 2.10€ (Nahbereich). Buying a "Großbereich" ticket is a safe bet to get from everywhere in Hamburg to the venue.</p>
<p>Use <a href="m.hvv.de">m.hvv.de</a> for online time table lookups.</p>

<h2>Taxi</h2>
<p>Call <a href="tel:+4940211211">+49-40-211211</a> to order a taxi. Or use the mytaxi app (<a href="http://app.adjust.io/w91kiz">App Store</a> / <a href="http://app.adjust.io/aafwgx">Play Store</a>).</p>
<p>Prices are around 30€ from the airport to the venue and around 20€ from central station to the venue.</p>

<h2>Enjoy the event! ❤️</h2>
